<web-app>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>users.UsersServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
</web-app>